<h2>About Team Kaizen</h2>
<div class="row">
  <pre>
  Md Sirajus Salayhin
  Post Graduate Diploma in ICT,
  Institute of Information and Communication Technology (IICT), BUET
  Email: salayhin@gmail.com
  </pre>

  <pre>
  Sabuj Biswas
  Post Graduate Diploma in ICT
  Institute of Information and Communication Technology (IICT), BUET
  Email: radhasonk.iict@gmail.com
  </pre>

  <pre>
  Daniel Roi Agustin
  BS Industrial Engineering
  University of the Philippines Diliman
  Email: dannroi.dr29@gmail.com
  </pre>
</div>


